@use "../../../assets/scss/variables" as v;
@use "../../../assets/scss/mixins" as m;
$breakpoint: 992px;

.home{
    // position: relative;

.header{
    margin-top: 2rem;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height:100vh ;
        transform: translateY(-5%);

        background-image: linear-gradient(180deg, rgba(252, 251, 252, 0.704), rgba(236, 234, 238, 0.039) );
        
    }

     .menubar{
        
        z-index: 99;
         height: 3rem;
         margin-top: 2rem;
         

         .navbar-brand{

            .navbar-toggler-icon{
                @media(max-width:991px ) {
                  right: 0;

                    
                }
            }
         }
     }
     .swiper-slider{
        height: 100vh;
        transform: translateY(-5%);
        position: relative;

    }
        .swiper-slide img {
            overflow: hidden;
            top: 0;
            display: block;
            width: 100vw;
            height: 95vh;

          }

      
        }
          .title{
             color: rgb(244, 150, 150);
             text-align: center;
            
            
        .slider-text{

          .zirve-title{
            p{
              position: absolute;
              top: 30%;
              right: 30%;
              color: white;
              text-align: center;
              font-weight:500 ;
              font-size: 6rem;
              text-shadow: .4rem .4rem .5rem rgb(239, 175, 175) ;
            }
          }
          }
        }
        .card{
          &:hover{
            // transform: rotate(3deg);
            transform: scale(1.1);
            border-radius: 1rem;
          }
          img{
            height: 10rem;
          }
        }
        }    

   

    

