@use "../../../assets/scss/variables" as v;
@use "../../../assets/scss/mixins" as m;
$breakpoint: 992px;

.home{
    position: relative;

.header{
    margin-top: 2rem;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height:100vh ;
        transform: translateY(-5%);

        background-image: linear-gradient(45deg, rgba(231, 92, 210, 0.356), rgba(243, 124, 170, 0.369) );
        
    }

     .menubar{
        
        z-index: 99;
         height: 3rem;
         margin-top: 2rem;

         .navbar-brand{
            .navbar-toggler-icon{
                @media(max-width:991px ) {
                  right: 0;

                    
                }
            }
         }
     }
     .swiper-slider{
        height: 100vh;
        transform: translateY(-5%);

    }
        .swiper-slide img {
            overflow: hidden;
            top: 0;
            display: block;
            width: 100vw;
            height: 95vh;

          }

      
        }
          .title{
        .slider-text{
            position: absolute;
            top: 50%;
            right: 30%;
            color: white;
            // transform: translateX(50%);
            text-align: center;
            font-weight:500 ;
            font-size: 2rem;
           
            
             
            // z-index: 99;
          }
        }
        .card{
          img{
            height: 10rem;
          }
        }
        }    

   

    

