@use "../../../assets/scss/variables" as v;
@use "../../../assets/scss/mixins" as m;
$breakpoint: 992px;

.home{
    position: relative;

.header{
    margin-top: 2rem;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height:100vh ;
        transform: translateY(-5%);

        background-image: linear-gradient(45deg, rgba(240, 62, 214, 0.356), rgba(239, 61, 129, 0.514) );
        
    }

     .menubar{
        
        z-index: 99;
         height: 3rem;
         margin-top: 2rem;

         .navbar-brand{
            .navbar-toggler-icon{
                @media(max-width:991px ) {
                  right: 0;

                    
                }
            }
         }
     }
     .swiper-slider{
        height: 100vh;
        transform: translateY(-5%);

    }
        .swiper-slide img {
            overflow: hidden;
            top: 0;
            display: block;
            width: 100vw;
            height: 95vh;

          }

      
        }
          .title{
             color: red;
             text-align: center;
             @media (max-width:576px) {
            //  transform: translateY(-30);
              // top:50%
              
             }
            
        .slider-text{
            position: absolute;
            top: 30%;
            right: 30%;
            // color: black; 
            // transform: translateX(50%);
            text-align: center;
            font-weight:500 ;
            font-size: 6rem;
            // font-size: 4rem;
            // z-index: 99;
            col{
              p{
                text-shadow: 1rem,  1rem, 1rem, gray ;
              }
            }
          }
        }
        .card{
          &:hover{
            // transform: rotate(3deg);
            transform: scale(1.1);
            border-radius: 1rem;
          }
          img{
            height: 10rem;
          }
        }
        }    

   

    

